{% extends "taskboard/layout.html" %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block import_scripts %}
    <link href="{% static 'taskboard/css/index.css' %}" rel="stylesheet">
    <script type ="text/javascript" src="{% static 'taskboard/js/index.js' %}"></script>
{% endblock %}
{% block main %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-md-offset-2">
            <a class="btn btn-primary" id="create-taskboard-btn" type="button" onclick="createTaskboard();" href="#" role="button">
                <i class="fas fa-plus-circle me-2"></i>
                Create New Taskboard
            </a>    <br><br>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item text-center" id="nav-item-tbOwnedByMe">
                    <a class="nav-link active"  href="#tbOwnedByMe-contents" id="tbOwnedByMe-tab" data-bs-toggle="tab" style="font-size: medium;">Owned By Me</a>
                </li>
                <li class="nav-item text-center" id="nav-item-tbOwnedByOthers">
                    <a class="nav-link"  href="#tbOwnedByOthers-contents" id="tbOwnedByOthers-tab" data-bs-toggle="tab" style="font-size: medium;">Owned By Others</a>
                </li>
            </ul>
            <div class="tab-content" style="padding: 2%;">
                <div id="tbOwnedByMe-contents" class="tab-pane active">
                    {% if allTBSOwnedByMe == "None" %}
                    <center>
                        <br>
                        <h4 class="no-records-msg text-muted"><a href='#' onclick="createTaskboard();">Create a new Taskboard</a> to get started!</h4>
                        <img class="logo" src="{% static 'taskboard/media/icon.jpg' %}">
                    </center>
                    {% else %}
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for taskboard in allTBSOwnedByMe %}
                        <div class="col">
                            <div class="card" style="margin:5px;">
                                <div class="card-body card-body-taskboard">
                                    <div class="taskboard-card-top">
                                        {% if taskboard.type == "GRP" %}
                                        <!-- <img src="{% static 'taskboard/media/icon.jpg' %}" class="img-fluid card-chip-img"/> -->
                                        <i class="fas fa-users fa-3x card-chip-img" data-mdb-toggle="tooltip" title="Group"></i>
                                        {% else %}
                                        <i class="fas fa-user fa-3x card-chip-img" data-mdb-toggle="tooltip" title="Individual"></i>
                                        {% endif %}
                                        <h4 class="card-chip-text"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h4>
                                        <div class="dropdown taskboard-card-dropdown">
                                            <a class="icon-dropdown text-right" href="#" id="dropdownMenuLink-me" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v icon-dropdown"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-me">
                                                <li><a class="dropdown-item" href="#" onclick="editTaskboard(`{{taskboard.id}}`)">Edit</a></li>
                                                <li><a class="dropdown-item" href="#" onclick="openDeleteTaskboardModal(`{{taskboard.id}}`, `T`, `{{taskboard.type}}`)">Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %} 
                    </div>
                    {% endif %}
                </div>
                <div id="tbOwnedByOthers-contents" class="tab-pane fade">
                    {% if allTBSOwnedByOthers == "None" %}
                    <center>
                        <br>
                        <h4 class="no-records-msg text-muted">No taskboards found!</h4>
                        <img class="logo" src="{% static 'taskboard/media/icon.jpg' %}">
                    </center>
                    {% else %}
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for taskboard in allTBSOwnedByOthers %}
                        <div class="col">
                            <div class="card" style="margin:5px;">
                                <div class="card-body card-body-taskboard">
                                    <div class="taskboard-card-top">
                                        {% if taskboard.type == "GRP" %}
                                        <!-- <img src="{% static 'taskboard/media/icon.jpg' %}" class="img-fluid card-chip-img"/> -->
                                        <i class="fas fa-users fa-3x card-chip-img" data-mdb-toggle="tooltip" title="Group"></i>
                                        {% else %}
                                        <i class="fas fa-user fa-3x card-chip-img" data-mdb-toggle="tooltip" title="Individual"></i>
                                        {% endif %}
                                        <h4 class="card-chip-text"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h4>
                                        <div class="dropdown taskboard-card-dropdown">
                                            <a class="icon-dropdown text-right" href="#" id="dropdownMenuLink-others" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v icon-dropdown"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-others">
                                                <li><a class="dropdown-item" href="#" onclick="openDeleteTaskboardModal(`{{taskboard.id}}`, `F`, `{{taskboard.type}}`)">Leave</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
    </div>


    <!-- taskboard MODAL start -->
    <div class="modal" tabindex="-1" role="dialog" id="taskboardModal">
        {% if user.is_authenticated %}
            <div class="modal-dialog" style="max-width:65%; vertical-align: middle;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="taskboard-modal-title" ></h4>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeTaskboardModal();"><span aria-hidden="true"></span></button>
                    </div>
                    <form id="taskboard_form" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="taskboard_name" class="col-sm-2 col-form-label">Title:</label>	&nbsp;
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter Title" name="taskboard_name" id="taskboard_name" value="" required>
                                </div> 
                            </div> <br>

                            <div class="form-group row">
                                <label for="taskboard_type" class="col-sm-2 col-form-label">Type:</label>	&nbsp;
                                <div class="col-sm-9">
                                    {% for radio in form.taskboard_type %}
                                        <label for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                            <span class="radio">{{ radio.tag }}</span>
                                        </label>
                                        &nbsp;                        
                                    {% endfor %}
                                </div> 
                            </div> 
                            <div class="form-group row" style="display:none;">
                                <label for="taskboard_members" class="col-sm-2 col-form-label"></label>	&nbsp;
                                <input type="text" class="form-control" id="taskboard_members" name="taskboard_members" value="" />
                            </div>
                            <div id="showAddMembersDiv" style="display:none;">
                                <span  class="form-group row">
                                    <label for="members" class="col-sm-2 col-form-label">Members:</label>	&nbsp;
                                    <div class="col-sm-9">
                                        <div style="display: inline-flex;">
                                            <input type="text" list="members" id="member_to_be_added"/>
                                            <datalist id="members">
                                                <!-- {% for member in all_users %}
                                                    <option value="{{member.username}}" data-value="{{member.id}}" ></option>
                                                {% endfor %} -->
                                            </datalist>
                                            &nbsp;
                                            <button type="button" class="btn btn-info" id="add-member-btn" onclick="addMember()"> Add </button>
                                        </div>
                                        <small id="no-more-members-to-add" style="display:none; margin-top:1%; margin-bottom:1%;" class="note note-danger" >There are no more members to add.</small>
                                        <small id="need-members-to-add" style="display:none; margin-top:1%; margin-bottom:1%;" class="note note-info" >Please add a member.</small>
                                        <div id="showMemberList" style="margin:3%;"></div>
                                    </div> 
                                </span>
                            </div>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeTaskboardModal();">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="submit-taskboard-btn">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        {% endif %}
    </div><!-- /.modal -->
    <!-- taskboard MODAL end -->

    <!-- delete MODAL start -->
    <div class="modal" tabindex="-1" role="dialog" id="deleteTaskboardModal">
        {% if user.is_authenticated %}
            <div class="modal-dialog" style="max-width:60%; vertical-align: middle;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delete-taskboard-modal-title" ></h4>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeDeleteTaskboardModal();"><span aria-hidden="true"></span></button>
                    </div>
                    <form id="delete_taskboard_form" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <h5 id="delete-taskboard-msg"></h5> 
                            <br>
                            <div id="assign-new-owner-form-group">
                            <div class="form-group row" >
                                <label for="new_owner_name" class="col-sm-4 col-form-label">Assign to New Owner:</label>	&nbsp;
                                <div class="col-sm-6">
                                    <select class="form-select" aria-label="Default select example" id="new_owner_name" name="new_owner_name">
                                    </select>
                                </div> 
                            </div>
                            <br>
                            <span>
                            <input type="checkbox" id="delete_taskboard_checkbox" onclick="deleteForAll()">
                            &nbsp;&nbsp;&nbsp;
                            <label for="delete_taskboard_checkbox"><p>Delete for All</p></label>
                            </span> 
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeDeleteTaskboardModal();">No</button>
                            <button type="submit" class="btn btn-primary" id="delete-taskboard-btn"> Yes </button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        {% endif %}
    </div><!-- /.modal -->
    <!-- delete MODAL end -->



</div>


{% endblock %}