{% extends "taskboard/layout.html" %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block import_scripts %}
    <link href="{% static 'taskboard/css/index.css' %}" rel="stylesheet">
    <script type ="text/javascript" src="{% static 'taskboard/js/index.js' %}"></script>
{% endblock %}
{% block main %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-md-offset-2">
            <a class="btn btn-primary" id="create-taskboard-btn" type="button" onclick="createTaskboard();" href="#" role="button">
                <i class="fas fa-plus-circle me-2"></i>
                Create New Taskboard
            </a>    <br><br>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item text-center" id="nav-item-tbOwnedByMeAndOthers">
                    <a class="nav-link active" href="#tbOwnedByMeAndOthers-contents" id="tbOwnedByMeAndOthers-tab" data-bs-toggle="tab" style="font-size: medium;">All</a>
                </li>
                <li class="nav-item text-center" id="nav-item-tbOwnedByMe">
                    <a class="nav-link"  href="#tbOwnedByMe-contents" id="tbOwnedByMe-tab" data-bs-toggle="tab" style="font-size: medium;">Owned By Me</a>
                </li>
                <li class="nav-item text-center" id="nav-item-tbOwnedByOthers">
                    <a class="nav-link"  href="#tbOwnedByOthers-contents" id="tbOwnedByOthers-tab" data-bs-toggle="tab" style="font-size: medium;">Owned By Others</a>
                </li>
            </ul>
            <div class="tab-content" style="padding: 2%;">
                <div id="tbOwnedByMeAndOthers-contents" class="tab-pane active" >
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for taskboard in allTBsOwnedByMeAndOthers %}
                        <div class="col">
                            <div class="card h-100" style="margin:5px;">
                                <div class="card-chip">
                                    <div class="dropdown">
                                        <a class="icon-dropdown text-right" href="#" id="dropdownMenuLink-all" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-all">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <img src="{% static 'taskboard/media/icon.jpg' %}" class="img-fluid card-chip-img"/>
                                        <h3 class="card-title align-middle"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h3>
                                            <!-- <p class="card-chip-text text-muted">Last Updated: {{taskboard.last_modified_dt}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div id="tbOwnedByMe-contents" class="tab-pane fade">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for taskboard in allTBSOwnedByMe %}
                        <div>
                          <div class="card mb-3 h-100" style="margin:10px;">
                            <div class="card-body">
                                <h3 class="card-title"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h3>
                                <small class="text-muted">Last Updated: {{taskboard.last_modified_dt}}</small>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="tbOwnedByOthers-contents" class="tab-pane fade">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for taskboard in allTBSOwnedByOthers %}
                        <div>
                          <div class="card mb-3 h-100" style="margin:10px;">
                            <div class="card-body">
                                <h3 class="card-title"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h3>
                                <small class="text-muted">Last Updated: {{taskboard.last_modified_dt}}</small>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>


    <!-- taskboard MODAL start -->
    <div class="modal" tabindex="-1" role="dialog" id="taskboardModal">
        {% if user.is_authenticated %}
            <div class="modal-dialog" style="max-width:60%; vertical-align: middle;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="taskboard-modal-title" ></h4>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeTaskboardModal();"><span aria-hidden="true"></span></button>
                    </div>
                    <form id="taskboard_form" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="taskboard_name" class="col-sm-2 col-form-label">Title:</label>	&nbsp;
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter Title" name="taskboard_name" id="taskboard_name" value="">
                                </div> 
                            </div> <br>
                            <div class="form-group row">
                                <label for="taskboard_deadline" class="col-sm-2 col-form-label">Deadline:</label>	&nbsp;
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" placeholder="Enter Deadline" name="taskboard_deadline" id="taskboard_deadline">
                                </div> 
                            </div> <br>
                            <div class="form-group row">
                                <label for="taskboard_type" class="col-sm-2 col-form-label">Type:</label>	&nbsp;
                                <div class="col-sm-9">
                                    {% for radio in form.taskboard_type %}
                                        <label for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                            <span class="radio">{{ radio.tag }}</span>
                                        </label>
                                        &nbsp;                        
                                    {% endfor %}
                                </div> 
                            </div> 
                            <div class="form-group row" style="display:none;">
                                <label for="taskboard_members" class="col-sm-2 col-form-label"></label>	&nbsp;
                                <input type="text" class="form-control" id="taskboard_members" name="taskboard_members" value="" />
                            </div>
                            <div id="showAddMembersDiv" style="display:none;">
                                <span  class="form-group row">
                                    <label for="members" class="col-sm-2 col-form-label">Members:</label>	&nbsp;
                                    <div class="col-sm-9">
                                        <div>
                                            <input type="text" list="members" id="member_to_be_added"/>
                                            <datalist id="members">
                                                <!-- {% for member in all_users %}
                                                    <option value="{{member.username}}" data-value="{{member.id}}" ></option>
                                                {% endfor %} -->
                                            </datalist>
                                            <button type="button" class="btn btn-info" onclick="addMember()"> Add </button>
                                        </div>
                                        <br>
                                        <div id="showMemberList"></div>
                                    </div> 
                                </span>
                            </div>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeTaskboardModal();">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="submit-taskboard-btn">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        {% endif %}
    </div><!-- /.modal -->
    <!-- taskboard MODAL end -->
</div>


{% endblock %}