{% extends "taskboard/layout.html" %}
{% load static %}

{% block title %}
  My Taskboards
{% endblock %}

{% block import_scripts %}
{% endblock %}

{% block main %}
<!-- DISPLAY ALL TASKBOARDS BY CURRENT USER -->
<div class="container" style="justify-content: center; display:flex;">
  <div class="card-deck align-items-center">
  
  {% for taskboard in individualTBs %}
  <div>
    <div class="card mb-3" style="margin:10px; width:15rem;">
      <div class="card-body">
          <h3 class="card-title"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h3>
      </div>
    </div>
  </div>
  {% endfor %}

  {% for taskboard in groupTBsOwnedByMe %}
  <div>
    <div class="card mb-3" style="margin:10px; width:15rem;">
      <div class="card-body">
          <h3 class="card-title"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h3>
      </div>
    </div>
  </div>
  {% endfor %}

  {% for taskboard in groupTBsOwnedByOthers %}
  <div>
    <div class="card mb-3" style="margin:10px; width:15rem;">
      <div class="card-body">
          <h3 class="card-title"><a href="{% url 'go_to_taskboard' taskboard.id %}">{{taskboard.title}}</a></h3>
      </div>
    </div>
  </div>
  {% endfor %}
  
  </div>
</div>
{% endblock %}