{% extends "taskboard/layout.html" %}
{% load static %}
{% load taskboard_tags %}
{% block title %}
  {{taskboard.title}}
{% endblock %}
{% block import_scripts %}
  <link href="{% static 'taskboard/css/taskboard.css' %}" rel="stylesheet">
  <script type ="text/javascript" src="{% static 'taskboard/js/taskboard.js' %}"></script>
  <script type ="text/javascript" src="{% static 'taskboard/js/index.js' %}"></script>

{% endblock %}
{% block main %}
<div id="taskboard-top-menu">
  <h2 style="display:inline-block; margin:0;">{{taskboard.title}}</h2>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
    <a class="icon-dropdown text-right" href="#" id="dropdownMenuLink-me" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-cog fa-2x icon-dropdown" data-mdb-toggle="tooltip" title="Taskboard Settings"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-me">
        {% if isOwner %}
          <li><a class="dropdown-item" href="#" onclick="editTaskboard(`{{taskboard.id}}`)">Edit</a></li>
          <li><a class="dropdown-item" href="#" onclick="openDeleteTaskboardModal(`{{taskboard.id}}`, `T`, `{{taskboard.type}}`)">Leave</a></li>
        {% else %} 
          <li><a class="dropdown-item" href="#" onclick="openDeleteTaskboardModal(`{{taskboard.id}}`, 'F', `{{taskboard.type}}`)">Leave</a></li>
        {% endif %}
    </ul>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="btn btn-primary" id="create-section-btn" type="button" onclick="createSection(`{{taskboard.id}}`)" href="#" role="button">
    <i class="fas fa-plus-circle me-2"></i>
    Add New Section
  </a> 
</div>

<div class="container-fluid">
  <div class="scroll">
    {% for section in sections %}
      <div class="section_col col-md-3" >
        <div class="section-top">
          <h4>{{section.name}}</h4>
          <div class="dropdown section-dropdown">
            <a class="icon-dropdown text-right" href="#" id="dropdownMenuLink_{{section.id}}" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-lg icon-dropdown" ></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink_{{section.id}}">
              <li><a class="dropdown-item" href="#" onclick="editSection(`{{taskboard.id}}`,`{{section.id}}`,`{{section.name}}`)">Rename</a></li>
              <li><a class="dropdown-item" href="#" onclick="confirmDeleteSection(`{{taskboard.id}}`,`{{section.id}}`)">Delete</a></li>
            </ul>
          </div>
        </div>
        <a class="btn btn-primary" id="create-task-btn" type="button" onclick="createTask(`{{taskboard.id}}`, `{{section.id}}`)" href="#" role="button">
          <i class="fas fa-plus-circle"></i>
          Add New Task
        </a> 
        {% get_uncompleted_tasks_in_section section.id taskboard.id as uncompleted_tasks %}
        {% for task in uncompleted_tasks %}
        <div class="card task-card">
          <div class="task-card-top card-header">
            <span>
              <input type="checkbox" class="task-checkbox" id="task_checkbox_{{task.id}}" onclick="completeTask(`{{taskboard.id}}`, `{{section.id}}`, `{{task.id}}`)">
              &nbsp;&nbsp;&nbsp;
              <label for="task_checkbox_{{task.id}}"><h5>{{task.name}}</h5></label>
            </span>
            <div class="task-card-top-icons">
              <a class="icon-dropdown text-right" href="#" onclick="editTask(`{{taskboard.id}}`, `{{section.id}}`, `{{task.id}}`)">
                <i class="fas fa-edit icon-dropdown" ></i>
              </a>
              {% get_sections_count_in_taskboard taskboard.id as moreThanOneSection %}
              {% if moreThanOneSection %}
              <a class="icon-dropdown text-right" href="#" id="dropdownMenuLink_sections" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-exchange-alt icon-dropdown" data-mdb-toggle="tooltip" title="Move Task"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink_sections">
                {% get_all_sections_in_taskboard section.id taskboard.id as new_sections %}
                {% for new_section in new_sections %}
                <li><a class="dropdown-item" href="#" onclick="moveTask(`{{taskboard.id}}`,`{{section.id}}`,`{{task.id}}`,`{{new_section.id}}`)">{{new_section.name}}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
              <a class="icon-dropdown text-right" href="#" onclick="confirmDeleteTask(`{{taskboard.id}}`, `{{section.id}}`, `{{task.id}}`)">
                <i class="fas fa-trash-alt icon-dropdown" ></i>
              </a>
            </div>
          </div>
          <div class="card-body task-card-body">
            {% check_deadline_of_task task.id as gotDeadline %}
            {% if gotDeadline %}
              <p class="card-text">Deadline: <strong>{{task.deadline}}</strong></p>
            {% endif %}
            {% if taskboardIsGrp %}
              {% print_assignee_of_task task.assignee user as assignee_name %}
              <p class="card-text">Assigned to: <strong>{{ assignee_name }}</strong></p>
            {% endif %}
            <p><a data-bs-toggle="collapse" href="#task_description_collapse_{{task.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">See description</a></p>
            <div class="collapse multi-collapse" id="task_description_collapse_{{task.id}}">
              <p class="card-text">{{task.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <br>
        <br>
        <a class="btn btn-info" data-mdb-toggle="collapse" href="#collapse_completed_tasks_{{section.id}}" role="button" aria-expanded="false" aria-controls="collapse_completed_tasks">
          <i class="fas fa-angle-double-down"></i> 
          &nbsp;&nbsp;&nbsp;See Completed Tasks
        </a>
        <div id="collapse_completed_tasks_{{section.id}}" class="collapse multi-collapse">
          {% get_completed_tasks_in_section section.id taskboard.id as completed_tasks %}
          {% for task in completed_tasks %}
          <div class="card task-card">
            <div class="task-card-top card-header">
              <span>
                <input type="checkbox" class="task-checkbox" id="task_checkbox_{{task.id}}" checked disabled="true">
                &nbsp;&nbsp;&nbsp;
                <label for="task_checkbox_{{task.id}}"><h5>{{task.name}}</h5></label>
              </span>
              <div class="task-card-top-icons">
                <a class="icon-dropdown text-right" href="#" onclick="confirmDeleteTask(`{{taskboard.id}}`, `{{section.id}}`, `{{task.id}}`)">
                  <i class="fas fa-trash-alt icon-dropdown" ></i>
                </a>
              </div>
            </div>
            <div class="card-body task-card-body">
              <p class="card-text">Deadline: {{task.deadline}}</p>
              {% if taskboardIsGrp %}
              <p class="card-text">Assigned to: {{task.assignee}}</p>
              {% endif %}
              <p><a data-bs-toggle="collapse" href="#task_description_collapse_{{task.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">See description</a></p>
              <div class="collapse multi-collapse" id="task_description_collapse_{{task.id}}">
                <p class="card-text">{{task.description}}</p>
              </div>
            </div>
          </div>
          {% endfor %}    
        </div>
      </div>
    
    {% endfor %}
  </div>
</div>

<!-- TASK MODAL start -->
<div class="modal" tabindex="-1" role="dialog" id="taskModal">
  {% if user.is_authenticated %}
  <div class="modal-dialog" style="max-width:80%; vertical-align: middle;" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="task-modal-title" ></h4>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeTaskModal();"><span aria-hidden="true"></span></button>
    </div>
      <form id="task_form" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <div class="form-group row">
                  <label for="task_name" class="col-sm-2 col-form-label">Name:</label>	&nbsp;
                  <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Enter Task Name" name="task_name" id="task_name" required>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="task_deadline" class="col-sm-2 col-form-label">Deadline:</label>	&nbsp;
                  <div class="col-sm-9">
                      <input type="date" class="form-control" placeholder="Enter Deadline" name="task_deadline" id="task_deadline">
                  </div>
              </div>            
              <div class="form-group row">
                  <label for="task_description" class="col-sm-2 col-form-label">Description:</label>	&nbsp;
                  <div class="col-sm-9">
                      <textarea class="form-control" rows="4" id="task_description" name="task_description" placeholder="Enter Task Description" required></textarea>
                  </div>
              </div>
              {% if taskboardIsGrp %}
              <div class="form-group row" >
                <label for="task_assignee" class="col-sm-2 col-form-label">Assign to:</label>	&nbsp;
                <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" id="task_assignee" name="task_assignee">
                      {% get_all_users_in_taskboard taskboard.id as users_in_taskboard %}
                      {% for user in users_in_taskboard %}
                        <option value="{{user.username}}">{{user.username}}</option>
                      {% endfor %}
                    </select>
                </div> 
              </div> 
              {% endif %}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeTaskModal();">Cancel</button>
              <button type="submit" class="btn btn-primary" id="submit-task-btn">
          </div>
      </form>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  {% endif %}
</div><!-- /.modal -->
<!-- TASK MODAL end -->


<!-- Section Modal -->
<div class="modal" tabindex="-1" role="dialog" id="sectionModal">
  {% if user.is_authenticated %}
      <div class="modal-dialog" style="max-width:65%; vertical-align: middle;" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="section-modal-title" ></h4>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeSectionModal();"><span aria-hidden="true"></span></button>
              </div>
              <form id="section_form" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                      <div class="form-group row section-form-div">
                          <label for="section_name" class="col-sm-2 col-form-label">Title:</label>	&nbsp;
                          <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="Enter Title" name="section_name" id="section_name" required>
                          </div> 
                      </div> <br>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeSectionModal();">Cancel</button>
                      <button type="submit" class="btn btn-primary" id="submit-section-btn">
                  </div>
              </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  {% endif %}
</div><!-- /.modal -->
<!-- section MODAL end -->

<div class="modal" tabindex="-1" role="dialog" id="deleteSectionTaskModal">
  {% if user.is_authenticated %}
      <div class="modal-dialog" style="max-width:65%; vertical-align: middle;" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-modal-title"></h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeDeleteSectionTaskModal();"><span aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
              <h5 id="delete-modal-msg"></h5> 
            </div>
            <div class="modal-footer">
              <a class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeDeleteSectionTaskModal();">Cancel</a>
              <a class="btn btn-primary" id="delete-modal-btn">Delete</a>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  {% endif %}
</div><!-- /.modal -->
<!-- delete section MODAL end -->


<!-- taskboard MODAL start -->
<div class="modal" tabindex="-1" role="dialog" id="taskboardModal">
{% if user.is_authenticated %}
    <div class="modal-dialog" style="max-width:65%; vertical-align: middle;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="taskboard-modal-title" >Edit Taskboard</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeTaskboardModal();"><span aria-hidden="true"></span></button>
            </div>
            <form id="taskboard_form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="taskboard_name" class="col-sm-2 col-form-label">Title:</label>	&nbsp;
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Enter Title" name="taskboard_name" id="taskboard_name" value="" required>
                        </div> 
                    </div> <br>

                    <div class="form-group row">
                        <label for="taskboard_type" class="col-sm-2 col-form-label">Type:</label>	&nbsp;
                        <div class="col-sm-9">
                            {% for radio in taskboardForm.taskboard_type %}
                                <label for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                    <span class="radio">{{ radio.tag }}</span>
                                </label>
                                &nbsp;                        
                            {% endfor %}
                        </div> 
                      </div> 
                      <div class="form-group row" style="display:none;">
                          <label for="taskboard_members" class="col-sm-2 col-form-label"></label>	&nbsp;
                          <input type="text" class="form-control" id="taskboard_members" name="taskboard_members" value="" />
                      </div>
                      <div id="showAddMembersDiv" style="display:none;">
                          <span  class="form-group row">
                              <label for="members" class="col-sm-2 col-form-label">Members:</label>	&nbsp;
                              <div class="col-sm-9">
                                  <div style="display: inline-flex;">
                                      <input type="text" list="members" id="member_to_be_added"/>
                                      <datalist id="members">
                                      </datalist>
                                      &nbsp;
                                      <button type="button" class="btn btn-info" id="add-member-btn" onclick="addMember()"> Add </button>
                                  </div>
                                  <small id="no-more-members-to-add" style="display:none; margin-top:1%; margin-bottom:1%;" class="note note-danger" >There are no more members to add.</small>
                                  <small id="need-members-to-add" style="display:none; margin-top:1%; margin-bottom:1%;" class="note note-info" >Please add a member.</small>
                                  <div id="showMemberList" style="margin:3%;"></div>
                              </div> 
                          </span>
                      </div> 

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeTaskboardModal();">Cancel</button>
                      <button type="submit" class="btn btn-primary" id="submit-taskboard-btn">
                  </div>
              </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  {% endif %}
</div><!-- /.modal -->
<!-- taskboard MODAL end -->

<!-- delete MODAL start -->
<div class="modal" tabindex="-1" role="dialog" id="deleteTaskboardModal">
    {% if user.is_authenticated %}
        <div class="modal-dialog" style="max-width:60%; vertical-align: middle;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="delete-taskboard-modal-title" ></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeDeleteTaskboardModal();"><span aria-hidden="true"></span></button>
                </div>
                <form id="delete_taskboard_form" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h5 id="delete-taskboard-msg"></h5> 
                        <br>
                        <div id="assign-new-owner-form-group">
                        <div class="form-group row" >
                            <label for="new_owner_name" class="col-sm-4 col-form-label">Assign to New Owner:</label>	&nbsp;
                            <div class="col-sm-6">
                                <select class="form-select" aria-label="Default select example" id="new_owner_name" name="new_owner_name">
                                </select>
                            </div> 
                        </div> 
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-mdb-ripple-color="dark" data-dismiss="modal" onclick="closeDeleteTaskboardModal();">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="delete-taskboard-btn"> Leave </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endif %}
</div><!-- /.modal -->
<!-- delete MODAL end -->


{% endblock %}