<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#login-contents" id="login-tab" data-bs-toggle="tab">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#register-contents" id="register-tab" data-bs-toggle="tab">Register</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="login-contents" class="tab-pane active">
      <table>
        <tr>
          <td>Username :</td>
          <td><input type="text" id="ip-username" placeholder="Username"></td>
        </tr>
        <tr>
          <td>Password :</td>
          <td><input type="text" placeholder="Password" id="ip-password"></td>
        </tr>
      </table>
    </div>
    <div id="register-contents" class="tab-pane fade">
      <table>
        <tr>
          <td>Name :</td>
          <td><input type="text" placeholder="First Name" id="ip-f-name"></td>
        </tr>
        <tr>
          <td>Last Name :</td>
          <td><input type="text" placeholder="Last Name" id="ip-l-name"></td>
        </tr>
        <tr>
          <td>E-Mail :</td>
          <td><input type="text" placeholder="Your E-Mail Id" id="ip-e-mail"></td>
        </tr>
        <tr>
          <td>A OTP will be sent to your mail id for verification.</td>
          <td>
            <Button class="btn btn-success" id="register-btn">Register</Button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>