body {
    background-color:white;
    background-image:none
}

.navbar {
  background-image: url("welcomePageBg.jpg");
  background-color: white;
}

.container {
    /* display:inline-flex; */
    height: 90vh;
    padding: 2%;
}

.nav-tabs{
    width:100%;
    display:inline-flex
  }
  
  .nav-tabs .nav-link {
    border-top: 1px solid whitesmoke;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
  }
/* 
  .nav-tabs .nav-item .nav-link:hover {
    transform: scaleY(1.1);
  } */

  .nav-tabs .nav-item .nav-link.active {
    border-color: whitesmoke;
    border-bottom: 2px solid rgb(1, 79, 122);
    color: whitesmoke;
    background-color: rgb(1, 79, 122);
  }

  .tab-content {
    color: white;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
  }


.btn:hover {
    transform: scale(1.1);
}

.card-body-taskboard {
  padding: 2%;
  height: 80%;
}
.card-chip-img {
  width: 20%;
  height:auto;
  float: left;
  vertical-align: middle;
}

.card-chip-text {
  float:center;
} 

.taskboard-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}

.taskboard-card-dropdown {
  float: right;
  transform: translate(0%,-50%);
  z-index: 1;
}

.icon-dropdown {
  color: rgb(1, 79, 122);
}

.icon-dropdown:hover {
  transform: scale(1.1);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin:auto;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% 15% 15% 15%; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}